:root {
  --logo-width: 100px;
  --logo-gap: 16px;
  --main-link-color: #6ea2dd;
  --active-link-color: #0c59b4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
  padding: 0 24px;
}

.logo {
  width: var(--logo-width);
  height: auto;
  margin-right: var(--logo-gap);
}

.ml-100 {
  margin-left: calc(var(--logo-width) + var(--logo-gap)); 
}


.header {
  display: flex;
}

.service-preview {
  width: 200px;
  flex-grow: 0;
  margin-left: 32px;
}

.service-preview__image {
  width: 100px;
  height: auto;
}

.service-preview__title {
  color: var(--main-link-color);
}

.service-preview__description {
  font-size: 0.9em;
}

.news-tabs {
  display: flex;
}

.news-tab {
  color: var(--main-link-color);
  text-decoration: none;
}

.news-tab_active {
  color: var(--active-link-color);
}

.news-tab:nth-child(n+2) {
  margin-left: 10px;
}

.news-tab_active {
  font-weight: bold;
}

.one-line-info {
  display: flex;
  align-items: center;
  margin-left: -24px;  
}

.one-line-info__icon {
  display: block;
  width: 20px;
  height: 20px;
  flex-grow: 0;
}

.one-line-info__text {
  display: block;
}

.one-line-info__link {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}

one-line-info {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.search-box {
  display: flex;
  align-items: center;
}
.search-box {
  margin-top: 24px;
  margin-bottom: 24px;
}

.search-box__category {
  color: #6ea2dd;
  text-decoration: none;
}

.search-box__category:nth-child(n+2) {
  margin-left: 8px;
}

.search-box__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.search__input {
  height: 32px;
  width: 100%;
}

.search__button {
  height: 32px;
  width: 100px;
  flex-grow: 0;
}

.banner {
  margin-bottom: 32px;
}

.banner__image {
  width: 100%;
}

.widgets {
  column-count: 3;
}

.widget {
  break-inside: avoid;
}